<h2>{{class.title}}</h2>
<p>
    <strong>
        instructor:
    </strong>{{class.instructor}}
</p>
<p>
    {{class.description}}
</p>    

<ul class="alt">
    {{#each class.lessons}} 
    <li>{{lesson_title}}</li>
    {{/each}}
</ul>

{{#if user}}
<form id="classRegForm" method="post" action="/{{type}}s/classes/register">
    <input type="hidden" name="student_username" value="{{user.username}}"><br>
    <input type="hiden" name="class_id" value="{{class._id}}"><br>
        <input type="hidden" name="class_title" value="{{class.title}}"><br>
    <input type="submit" class="button"value="register for this class">
</form>
{{else}}
<p><em>you must be register forthis class</em></p>